<% include partials/header %> 

<!-- Header -->

<!-- Showcase -->
<div class="container">
    <div class="card bg-dark text-white">
        <img src="https://source.unsplash.com/851x315/?bake" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Home of the Best Online Fresh Bake</h5>
            <p class="card-text">- Instanst relief of the best assorted baked goods</p>
            <p class="card-text">Order Nationwide!</p>
            <a class="btn btn-danger" href="#" role="button">Get Started!</a>
            <a class="btn btn-primary" href="/order" role="button">Order Now</a>
        </div>
        
    </div>
</div>
<!-- About -->

<div class="container ">
        <div class="row">
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/110x100/?muffins" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Muffins</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
          </div>
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/110x100/?pie" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Scones</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
          </div>
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/110x100/?cake" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cookies</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
          </div>
        </div>
      </div>


<!-- Blog -->

<div class="container">
        <div class="card text-center" style="width: 50rem;">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
              <div class="card text-center" style="width: 50rem;">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              
              <div class="card text-center" style="width: 50rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
</div>


<!-- Contact -->





<% include partials/footer %>